language: java
jdk:
  - oraclejdk8
cache:
  directories:
  - $HOME/.m2
before_install:
  - mvn install -DskipTests
  - "export DISPLAY=:99.0"
  - "sudo sh -e /etc/init.d/xvfb start"
  - sleep 3 # give xvfb some time to start
script:
  - mvn test -DCONDUCTOR_BROWSER=firefox
notifications:
  email: false
addons:
  firefox: "52.0.2"